<!DOCTYPE html>
<html lang="en" dir="">
<head>
    <%- include('./partials/head.ejs'); %>
</head>
<body>
    <!-- start of header -->
    <header>
      <%- include('./partials/header.ejs'); %>
    </header>
    <!-- end of header -->
    <!-- start of main page -->
    <main>
      <div class="container-fluid bg-white">
        <h1 class="text-center p-0.5 bg-success text-white">Employee Management</h1>
        <div class="d-grid">
          <button type="button" class="btn btn-outline-success justify-content-center">Login</button>
        </div> 
      </div>
    </main>
    <!-- end of main page -->
    <!-- start of footer -->
    <footer>
      <%- include('./partials/footer.ejs')  %> 
    </footer>
    <!-- end of footer -->
  </body>
</html>
