<!DOCTYPE html>
<html lang="en">
<head>
  <!-- ============head base================= -->
    <%- include('./partials/head.ejs'); %>
</head>
<body>
    <!-- start of header -->
    <header>
      <%- include('./partials/header.ejs')  %> 
    </header>
    <!-- end of header -->
    <!-- start of main page -->
    <main>

    </main>
    <!-- end of main page -->
    <!-- start of footer -->
    <footer>
      <%- include('./partials/footer.ejs')  %> 
    </footer>
    <!-- end of footer -->
</body>
</html>